.cardTitle {
    font-weight: bold;
    font-size: 36px;
}

.barrita2 {
    font-size: 3rem;
    color: #85bcf9;
}

.svgSoporte {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.atencion {
    margin-top: 1rem;
}