.carousel-item img {
  height: 900px;  /* Ajusta esto a la altura que desees */
  width: auto;  /* Esto mantendrá la relación de aspecto de la imagen */
  object-fit: cover;  /* Esto cortará la imagen si es necesario para llenar el contenedor */
}

.carousel {
  z-index: 0;
}