.footer {
    background-color: #bfddfe;
}

.navItemFooter {
    font-family: 'Teko', sans-serif;
    font-size: larger;
    margin-bottom: 2px;
    margin-right: 3px;
    text-decoration: none;
    color: #2568eb;

}

.navItemFooter:hover {
    color: black;
}

.footerTitle {
    font-weight: 600;
}