.navbar {
    background-color: #121212;
    height: 3.5rem;
}

.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}

.items li {
    list-style: none;
    margin: 1rem;
}

.items li a {
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    color: #6d6d6d;
}

.items li a:hover {
    color: #e7e7e7;
    transition: 0.5s;
}

.navButton {
    color: #6d6d6d;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.navButton::before {
    margin-left: auto;
}

.navButton::after,
.navButton::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
}

.navButton:hover::after,
.navButton:hover::before {
    width: 100%;

}

.navButton:hover {
    color: #e7e7e7;
    transition: 1s;
}

button.hamburger {
    color: #6d6d6d;
    text-decoration: none;
    font-size: 1rem;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    display: none;
    /* Inicialmente oculto en pantallas grandes */
}

.hamburger::before {
    content: '\2630';
    /* Icono de hamburguesa */
}

@media (max-width: 768px) {
    .items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 3.5rem;
        left: 20px;
        background-color: #121212;
        width: 100%;
    }

    .navbar.open .items {
        display: flex;
    }

    button.hamburger {
        display: block;
        /* Mostrar el botón de hamburguesa en pantallas pequeñas */
    }
}