.navbar {
    background-color: #eef3ff;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 9999;
    animation: navbar-cheta linear both;
    animation-timeline: scroll(root);
}

@keyframes navbar-cheta {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.8;
        backdrop-filter: blur(5px);
    }
}

.nav-item {
    margin-right: 10px;
}

.nav-item a {
    font-family: 'Teko', sans-serif;
    font-size: larger;
    color: black;
    font-weight: normal;
    font-weight: 500;
}

.nav-link::before {
    margin-left: auto;
}

.nav-link::after,
.nav-link::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #85bcf9;
    display: block;
    transition: 0.5s;
}

.nav-link:hover::after,
.nav-link:hover::before {
    width: 100%;
}

.navbar-brand img {
    width: 50px;
    height: 78px;

    transition: transform 0.2s;
}

.navbar-brand img:hover {
    transform: scale(1.1);
}