.carouselProd {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 2rem;
}

.carouselProd img {
  max-width: 13rem;
  max-height: 30rem;
}

.carousel-button {
  font-size: 3rem;
  text-decoration: none;
  background-color: white;
  border: none;
}

@media (max-width: 768px) {
  .carousel img {
    height: auto;
    max-height: 600px;
    width: auto;
  }
}